* {
    padding: 0;
    margin: 0;
    border: none;
}
header{
    nav{
        background-color: #111;
        ul{
            li{
                &:hover{
                    border-bottom: 2px solid #ddd;
                }
                a{
                    color: #ddd !important;
                }
            }
        }
    }
}
footer{
    background-color: #111;
    padding-top: 20px;
    .ft_a{
        color: #ddd !important;
        font-size: 12px;
    }
    .ft_b{
        ul{
            list-style: none;
            li{
                a{
                    color: #ddd !important;
                    font-size: 14px;
                }
            }
        }
    }
}
.top_home{
    h5{
        color: #ff6a2b;
    }
    .news_hot_list{
        a{
            font-size: 14px;
            font-weight: 500;
        }
    }
    .highlights_home{
        a{
            font-size: 26px;
            font-weight: bold;
            padding: 0 !important;
        }
    }
    .news_hot_right{
        margin-bottom: 20px;
        a{
            font-size: 16px;
            font-weight: 600;
            padding: 0 !important;
        }
    }
}
.list_home{
    margin-top: 20px;
}
.txt-a{
    color: #333 !important;
}
.news_hot_list.d-flex {
    margin: 0.3rem 0rem;
}
.news_list.d-flex {
    margin: 0.1rem 0rem;
    padding: 1rem 0;
    border-bottom: 1px dashed #e8edefab;
}